<salt-accordion-group>
  <salt-accordion>
    <salt-accordion-header id="option_one_header" controls="option_one_panel"
      >Option one</salt-accordion-header
    >
    <salt-accordion-panel id="option_one_panel" labelled-by="option_one_header">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        temporibus similique, obcaecati, odio autem aliquam maiores magnam
        perspiciatis, nesciunt adipisci doloribus facilis? Sequi tempora ad
        velit id dolorem debitis cupiditate!
      </p>
    </salt-accordion-panel>
  </salt-accordion>
  <salt-accordion>
    <salt-accordion-header id="option_two_header" controls="option_two_panel"
      >Option two</salt-accordion-header
    >
    <salt-accordion-panel id="option_two_panel" labelled-by="option_two_header">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores fuga
        quas, facere placeat enim repellat quos, saepe, laborum porro quaerat in
        praesentium officia quo commodi earum? Eos aperiam officiis illum!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fuga qui
        voluptatem dolorem corrupti. Labore tempore quod id, illo fugiat magnam,
        perferendis voluptates impedit voluptate dolores molestiae. Qui, impedit
        ipsam!
      </p>
    </salt-accordion-panel>
  </salt-accordion>
  <salt-accordion>
    <salt-accordion-header
      id="option_three_header"
      controls="option_three_panel"
      >Option one</salt-accordion-header
    >
    <salt-accordion-panel
      id="option_three_panel"
      labelled-by="option_three_header"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tenetur
        iusto dolorum, dignissimos pariatur ab ducimus vitae doloribus quas sint
        fuga repellat sit eveniet eius possimus sapiente! Excepturi, assumenda
        voluptas!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum commodi
        officia saepe reiciendis praesentium ab laborum, possimus quam labore
        harum delectus earum nostrum at quibusdam modi molestiae, maiores odio
        omnis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quos autem
        deserunt esse in a culpa non velit quibusdam sunt quisquam qui at
        aspernatur repudiandae, excepturi, deleniti praesentium quaerat cumque?
      </p>
    </salt-accordion-panel>
  </salt-accordion>
</salt-accordion-group>
